openapi: 3.0.3
info:
  title: LumaTrace Cloud API
  description: |
    Enterprise API for LumaTrace Digital Watermarking and C2PA Provenance.
    Spatial watermarking and C2PA JUMBF orchestration within a multi-tenant, zero-trust framework.
  version: 1.0.0
  contact:
    name: LumaTrace Enterprise Support
    email: enterprise@lumatrace.es
  license:
    name: Proprietary
    url: https://lumatrace.es/license

servers:
  - url: https://api.lumatrace.es
    description: Production Environment
  - url: https://sandbox.api.lumatrace.es
    description: Sandbox Environment
  - url: http://127.0.0.1:8081
    description: Local Development

security:
  - bearerAuth: []

paths:
  /api/v1/auth/login:
    post:
      operationId: loginTenant
      summary: Authenticate Tenant Session
      tags: ["Identity & Access"]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username: { type: string, example: "service_acct_prod" }
                password: { type: string, example: "••••••••" }
      responses:
        '200':
          description: Session created. Returns a short-lived JWT.
          headers:
            x-request-id: { $ref: '#/components/headers/x-request-id' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, example: "eyJhbG..." }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v1/photos/protect:
    post:
      operationId: protectAsset
      summary: Full C2PA & Watermark Protection
      description: Injects spatial signal and signs C2PA manifest.
      tags: ["Provenance"]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, request]
              properties:
                image: { type: string, format: binary }
                request: { $ref: '#/components/schemas/PhotoRegistrationRequest' }
      responses:
        '200':
          description: Protected binary asset.
          content:
            image/jpeg: { schema: { type: string, format: binary } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/photos/verify:
    post:
      operationId: verifyAsset
      summary: Dual-Path Verification
      tags: ["Forensic Verification"]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, photoId]
              properties:
                image: { type: string, format: binary }
                photoId: { type: string, format: uuid, example: "550e8400-e29b-41d4-a716-446655440000" }
      responses:
        '200':
          description: Verification success.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerificationResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  headers:
    x-request-id:
      description: Unique correlation ID for support.
      schema: { type: string, example: "req-7b2a-f47a-c10b" }

  responses:
    BadRequest:
      description: Malformed request.
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }
    Unauthorized:
      description: Invalid JWT.
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }
    NotFound:
      description: Asset not found.
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }
    PayloadTooLarge:
      description: File exceeds limit.
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }
    TooManyRequests:
      description: Rate limit exceeded.
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }
    InternalError:
      description: Server-side failure.
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }

  schemas:
    ApiError:
      type: object
      properties:
        code: { type: string, example: "AUTH_TOKEN_EXPIRED" }
        message: { type: string, example: "The provided token is no longer valid." }
        traceId: { type: string, example: "req-f47a-c10b" }

    PhotoRegistrationRequest:
      type: object
      required: [contentHash, deviceModel]
      properties:
        contentHash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          description: SHA-256 Hexadecimal string.
          example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
        deviceModel: { type: string, example: "Sony_Alpha_Node_1" }
        latitude: { type: number, example: 40.41 }
        longitude: { type: number, example: -3.70 }

    VerificationResponse:
      type: object
      properties:
        authentic: { type: boolean, example: true }
        confidenceScore: { type: number, example: 97.48 }
        message: { type: string, example: "Signal detected with high confidence." }