openapi: 3.0.3
info:
  title: LumaTrace Cloud API
  description: |
    Enterprise API for LumaTrace Digital Watermarking and C2PA Provenance.

    **Operational Guarantees & Limits:**
    - **Max Payload Size:** 25 MB
    - **Max Resolution:** 16 Megapixels (e.g., 4000x4000px)
    - **Supported Formats:** `image/jpeg`, `image/png`, `image/webp`
    - All responses include `x-request-id` for traceability.
    - Write operations (`/register`, `/protect`) support `Idempotency-Key`.
    - Deterministic machine-readable error codes (see ApiError schema).
    - Rate limiting enforced per tenant.

    **Authentication Profile (M2M):**
    - Machine-to-Machine (M2M) Service Account flows.
    - JWT tokens are short-lived RS256 signatures (15m default expiration).

    **SLA Targets (Production):**
    - Availability: 99.9%
    - P95 latency: < 800ms (verification)
  version: 1.1.0
  contact:
    name: LumaTrace Enterprise Support
    email: enterprise@lumatrace.es
  license:
    name: Proprietary
    url: https://lumatrace.es/license

servers:
  - url: https://api.lumatrace.es
    description: Production
  - url: https://sandbox.api.lumatrace.es
    description: Sandbox
  - url: http://127.0.0.1:8081
    description: Local Development

security:
  - bearerAuth: []

paths:

  /api/v1/auth/login:
    post:
      operationId: loginTenant
      summary: Authenticate Service Account (M2M)
      description: |
        Validates M2M credentials and returns a signed short-lived JWT. 
        This is a Machine-to-Machine flow; the returned token enforces tenant isolation and API quotas.
      tags: ["Identity & Access"]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/auth/logout:
    post:
      operationId: logoutTenant
      summary: Terminate Session
      description: Actively revokes the current session by placing the provided JWT in the blocklist.
      tags: ["Identity & Access"]
      responses:
        '200':
          description: Session successfully terminated.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Session successfully terminated" }
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/photos/register:
    post:
      operationId: registerMetadata
      summary: Register Asset Metadata
      description: Registers forensic metadata returning a PhotoRegistrationResponse. Must be called prior to protection if separating flows.
      tags: ["Provenance"]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhotoRegistrationRequest'
      responses:
        '200':
          description: Metadata registered successfully.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/photos/protect:
    post:
      operationId: protectAsset
      summary: Full C2PA & Watermark Protection
      description: Injects spatial watermark signal and signs C2PA manifest. Enforces 25MB payload and 16MP resolution limits.
      tags: ["Provenance"]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, request]
              properties:
                image:
                  type: string
                  format: binary
                  description: "Raw image payload. Constraints: Max size 25MB, Max Resolution 16MP (JPEG/PNG/WEBP)."
                request:
                  type: string
                  description: "Stringified JSON payload matching the PhotoRegistrationRequest schema."
      responses:
        '200':
          description: Protected binary asset.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/photos/verify:
    post:
      operationId: verifyAsset
      summary: Dual-Path Verification
      description: Performs spatial watermark detection and C2PA manifest validation. Returns automated policy decisions for SIEM/SOC ingestion.
      tags: ["Forensic Verification"]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, photoId]
              properties:
                image:
                  type: string
                  format: binary
                photoId:
                  type: string
                  format: uuid
                  example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Verification completed.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Unique key to prevent duplicate processing for state-mutating requests.
      schema:
        type: string
        maxLength: 64
        example: "8c3f2d8b-21fa-4c9b-a3b1-req123"

  headers:
    x-request-id:
      description: Unique correlation ID. Required in all responses.
      schema:
        type: string
        example: "req-7b2a-f47a-c10b"

    X-RateLimit-Remaining:
      description: Remaining requests in current window.
      schema:
        type: integer
        example: 94

  responses:

    BadRequest:
      description: Malformed request or validation failure.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Unauthorized:
      description: Invalid, missing, or expired JWT.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Forbidden:
      description: Tenant not authorized for operation.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    NotFound:
      description: Asset or resource not found.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    PayloadTooLarge:
      description: File exceeds maximum size limits (25MB) or 16MP resolution.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    TooManyRequests:
      description: Rate limit exceeded for the tenant.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        X-RateLimit-Limit:
          description: Request limit per window.
          schema: { type: integer, example: 100 }
        X-RateLimit-Remaining:
          description: Requests remaining in the current window.
          schema: { type: integer, example: 0 }
        X-RateLimit-Reset:
          description: UTC timestamp when the limit resets.
          schema: { type: integer, example: 1708945200 }
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }

    InternalError:
      description: Unexpected server error.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:

    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: Service Account identifier.
          example: "service_acct_prod"
        password:
          type: string
          description: Service Account secret.
          example: "••••••••"

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: RS256 signed JWT representing the M2M session.
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."

    PhotoRegistrationRequest:
      type: object
      required: [contentHash, deviceModel]
      properties:
        contentHash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          description: SHA-256 Hexadecimal string of the asset.
          example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
        deviceModel:
          type: string
          example: "Sony_Alpha_Node_1"
        latitude:
          type: number
          example: 40.41
        longitude:
          type: number
          example: -3.70

    PhotoRegistrationResponse:
      type: object
      properties:
        photoId:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        tenantId:
          type: string
          description: Contextual Tenant ID derived from the session (For debug/correlation).
          example: "tenant_alpha_01"
        signature:
          type: string
          example: "MEUCIQD..."

    VerificationResponse:
      type: object
      properties:
        authentic:
          type: boolean
          description: Top-level boolean determining if the asset passes baseline authenticity checks.
          example: true
        confidenceScore:
          type: number
          description: Z-Score (σ) of the spatial watermark signal.
          example: 97.48
        c2paStatus:
          type: string
          enum: [VALID, INVALID, MISSING, TAMPERED]
          description: State of the hard-bound C2PA manifest.
          example: "VALID"
        watermarkStatus:
          type: string
          enum: [DETECTED, MARGINAL, NOT_FOUND]
          description: State of the soft-bound spatial signal.
          example: "DETECTED"
        tamperClass:
          type: string
          enum: [NONE, COMPRESSION, RESIZE, CROP, STRUCTURAL_ALTERATION]
          description: Estimated class of degradation if tampering occurred.
          example: "NONE"
        tenantId:
          type: string
          example: "tenant_alpha_01"
        message:
          type: string
          example: "Status: [C2PA Manifest: PRESENT] [Forensic Watermark: DETECTED]"

    ApiError:
      type: object
      required: [code, message, traceId]
      properties:
        code:
          type: string
          description: |
            Standardized Enterprise Catalog Codes:
            - `VALIDATION_FAILED`: Payload violates schema or limits (e.g., >16MP).
            - `AUTH_MISSING`: No bearer token provided.
            - `AUTH_EXPIRED`: JWT TTL exceeded.
            - `TENANT_RESTRICTED`: Operation not allowed for current M2M scopes.
            - `PAYLOAD_TOO_LARGE`: Binary exceeds 25MB hard limit.
            - `RATE_LIMIT_EXCEEDED`: Tenant bucket exhausted.
            - `INTERNAL_ENGINE_ERROR`: DSP or PKI signing failure.
          example: "AUTH_EXPIRED"
        message:
          type: string
          description: Human-readable context for the specific error instance.
          example: "The provided token is expired."
        action:
          type: string
          description: Suggested automated remediation step for the client system.
          example: "Request a new token via /api/v1/auth/login"
        traceId:
          type: string
          description: Correlation ID tying back to the x-request-id header.
          example: "req-f47a-c10b"