openapi: 3.0.3
info:
  title: LumaTrace Cloud API
  description: |
    Enterprise API for LumaTrace Digital Watermarking and C2PA Provenance.
    
    This API provides endpoints for authenticating tenants, registering cryptographic asset metadata, injecting spatial watermarks (Soft-Binding), and generating/verifying C2PA JUMBF manifests (Hard-Binding).
  version: 1.0.0
  contact:
    name: LumaTrace Enterprise Support
    email: contact@lumatrace.es
    url: https://lumatrace.es

servers:
  - url: https://api.lumatrace.es
    description: Production Environment (Enterprise B2B)
  - url: https://sandbox.api.lumatrace.es
    description: Sandbox / Integration Environment
  - url: http://localhost:8081
    description: Local Development

security:
  - bearerAuth: []

paths:
  /api/v1/auth/login:
    post:
      summary: Authenticate Tenant Session
      description: Validates credentials and returns a strictly scoped, tenant-aware JWT.
      tags:
        - Identity & Access
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: "api_service_account"
                password:
                  type: string
                  example: "secure_password_here"
      responses:
        '200':
          description: Authentication successful
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Bearer JWT Token
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/v1/auth/logout:
    post:
      summary: Terminate Session
      description: Actively revokes the JWT session placing it in a distributed blocklist.
      tags:
        - Identity & Access
      responses:
        '200':
          description: Session successfully terminated
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'

  /api/v1/photos/register:
    post:
      summary: Register Asset Metadata (Legacy/Metadata-Only)
      description: Registers an asset's forensic metadata and returns the signed C2PA canonical JSON.
      tags:
        - Provenance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhotoRegistrationRequest'
      responses:
        '200':
          description: Asset registered successfully
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoRegistrationResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/photos/protect:
    post:
      summary: Full C2PA & Watermark Protection Workflow
      description: Receives a raw image, embeds spatial watermark, and injects C2PA JUMBF manifest.
      tags:
        - Provenance
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, request]
              properties:
                image:
                  type: string
                  format: binary
                  description: Raw image payload (Max 25MB).
                request:
                  $ref: '#/components/schemas/PhotoRegistrationRequest'
      responses:
        '200':
          description: Protected asset generated
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '413':
          description: Payload too large (Exceeds 25MB or 16MP)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/v1/photos/verify:
    post:
      summary: Dual-Path Verification (Hard & Soft Binding)
      description: Strictly verifies both C2PA and LumaTrace spatial signal.
      tags:
        - Forensic Verification
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, photoId]
              properties:
                image:
                  type: string
                  format: binary
                photoId:
                  type: string
                  format: uuid
                  example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Verification completed
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  headers:
    x-request-id:
      description: Unique ID for tracing requests across microservices and support tickets.
      schema:
        type: string
        example: "req-f47ac10b-58cc-4372"

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    ForbiddenError:
      description: Tenant boundary violation or insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: "TENANT_ACCESS_DENIED"
        message:
          type: string
          description: Human-readable error message.
          example: "You do not have permission to access assets from another organization."
        traceId:
          type: string
          description: Correlation ID for support.
          example: "req-f47ac10b-58cc-4372"

    PhotoRegistrationRequest:
      type: object
      required: [contentHash, deviceModel, latitude, longitude]
      properties:
        contentHash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
        deviceModel:
          type: string
          example: "Enterprise_Capture_Node_A1"
        latitude:
          type: number
          format: double
          example: 40.4168
        longitude:
          type: number
          format: double
          example: -3.7038

    PhotoRegistrationResponse:
      type: object
      properties:
        photoId:
          type: string
          format: uuid
        tenantId:
          type: string
        createdAt:
          type: string
          format: date-time
        canonicalJson:
          type: string
        canonicalHash:
          type: string
        signature:
          type: string

    VerificationResponse:
      type: object
      properties:
        authentic:
          type: boolean
        confidenceScore:
          type: number
        tenantId:
          type: string
        message:
          type: string