openapi: 3.0.3
info:
  title: LumaTrace Cloud API
  description: |
    Enterprise API for LumaTrace Digital Watermarking and C2PA Provenance.

    Operational Guarantees:
    - All responses include `x-request-id` for traceability.
    - Write operations support `Idempotency-Key`.
    - Deterministic machine-readable error codes.
    - JWT tokens are short-lived (15m default).
    - Rate limiting enforced per tenant.

    SLA Targets (Production):
    - Availability: 99.9%
    - P95 latency: < 800ms (verification)
  version: 1.1.0
  contact:
    name: LumaTrace Enterprise Support
    email: enterprise@lumatrace.es
  license:
    name: Proprietary
    url: https://lumatrace.es/license

servers:
  - url: https://api.lumatrace.es
    description: Production
  - url: https://sandbox.api.lumatrace.es
    description: Sandbox
  - url: http://127.0.0.1:8081
    description: Local Development

security:
  - bearerAuth: []

paths:

  /api/v1/auth/login:
    post:
      operationId: loginTenant
      summary: Authenticate Service Account
      description: |
        Authenticates a tenant-scoped service account.

        Token characteristics:
        - JWT RS256 signed
        - 15 minute expiration
        - Non-refreshable
        - Must be re-issued via login endpoint
      tags: ["Identity & Access"]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/photos/protect:
    post:
      operationId: protectAsset
      summary: Full C2PA & Watermark Protection
      description: |
        Injects spatial watermark signal and signs C2PA manifest.

        Idempotency:
        - Clients SHOULD provide `Idempotency-Key`.
        - Same key within 24h returns same result.
      tags: ["Provenance"]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, request]
              properties:
                image:
                  type: string
                  format: binary
                  description: "Raw image payload. Constraints: Max size 25MB, Max resolution 16 Megapixels (e.g., 4000x4000), Formats: JPEG, PNG."
                request:
                  $ref: '#/components/schemas/PhotoRegistrationRequest'
      responses:
        '200':
          description: Protected binary asset.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/photos/verify:
    post:
      operationId: verifyAsset
      summary: Dual-Path Verification
      description: |
        Performs spatial watermark detection and C2PA manifest validation.
      tags: ["Forensic Verification"]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, photoId]
              properties:
                image:
                  type: string
                  format: binary
                photoId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Verification completed.
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Unique key to prevent duplicate processing.
      schema:
        type: string
        maxLength: 64
        example: "8c3f2d8b-21fa-4c9b-a3b1-req123"

  headers:
    x-request-id:
      description: Unique correlation ID. Required in all responses.
      schema:
        type: string
        example: "req-7b2a-f47a-c10b"

    X-RateLimit-Remaining:
      description: Remaining requests in current window.
      schema:
        type: integer
        example: 94

  responses:

    BadRequest:
      description: Malformed request.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Unauthorized:
      description: Invalid or expired JWT.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Forbidden:
      description: Tenant not authorized for operation.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    NotFound:
      description: Asset not found.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    PayloadTooLarge:
      description: File exceeds maximum size (20MB).
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    TooManyRequests:
      description: Rate limit exceeded.
      headers:
        X-RateLimit-Limit:
          description: Request limit per window.
          schema: { type: integer, example: 100 }
        X-RateLimit-Remaining:
          description: Requests remaining in the current window.
          schema: { type: integer, example: 0 }
        X-RateLimit-Reset:
          description: UTC timestamp when the limit resets.
          schema: { type: integer, example: 1708945200 }
      content: { application/json: { schema: { $ref: '#/components/schemas/ApiError' } } }

    InternalError:
      description: Unexpected server error.
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:

    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: service_acct_prod
        password:
          type: string
          example: "••••••••"

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...

    ApiError:
      type: object
      required: [code, message, traceId]
      properties:
        code:
          type: string
          example: AUTH_TOKEN_EXPIRED
        message:
          type: string
          example: The provided token is expired.
        traceId:
          type: string
          example: req-f47a-c10b

    PhotoRegistrationRequest:
      type: object
      required: [contentHash, deviceModel]
      properties:
        contentHash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          description: SHA-256 Hexadecimal string.
        deviceModel:
          type: string
        latitude:
          type: number
        longitude:
          type: number

    VerificationResponse:
      type: object
      properties:
        authentic:
          type: boolean
          example: true
        confidenceScore:
          type: number
          example: 97.48
        message:
          type: string